<head>
  <title>Posts</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .container {
      width: 90%;
      max-width: 800px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden; /* Ensure content doesn't overflow */
    }
    h1 {
      text-align: center;
      color: #333;
      margin-top: 0; /* Remove default margin */
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0; /* Remove default margin */
    }
    li {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }
    li:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    form {
      margin-bottom: 20px;
    }
    input[type="text"] {
      width: calc(100% - 20px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
    }
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Posts</h1>
    <form id="postForm">
      <input type="text" id="title" placeholder="Enter post title" required>
      <input type="submit" value="Add Post">
    </form>
    <ul id="postList">
      <!-- Posts will be dynamically added here -->
    </ul>
  </div>

  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Function to load posts using AJAX
    function loadPosts() {
      $.ajax({
        url: 'https://jsonplaceholder.typicode.com/posts',
        method: 'GET',
        success: function(data) {
          $('#postList').empty(); // Clear the existing list
          // Loop through each post and append it to the list
          $.each(data, function(index, post) {
            var listItem = $('<li>').text(post.title);
            $('#postList').append(listItem);
          });
        },
        error: function() {
          alert('Error loading posts.');
        }
      });
    }

    $(document).ready(function(){
      // Load posts on page load
      loadPosts();

      // Handle form submission
      $('#postForm').submit(function(e) {
        e.preventDefault();
        var title = $('#title').val();
        $.ajax({
          url: 'https://jsonplaceholder.typicode.com/posts',
          method: 'POST',
          data: JSON.stringify({
            title: title,
            body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            userId: 1
          }),
          headers: {
            'Content-type': 'application/json; charset=UTF-8',
          },
          success: function(data) {
            var listItem = $('<li>').text(data.title);
            $('#postList').prepend(listItem); // Add the new post to the top of the list
            $('#title').val(''); // Clear the input field
          },
          error: function() {
            alert('Error adding post.');
          }
        });
      });
    });
  </script>
</body>
</html>
