<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* styles for the home page */
    body {
      background-color: #f8f9fa; /* Default background color - dirty white */
    }
    .jumbotron {
      background-image: url('https://wallpapercave.com/wp/wp1933982.png');
      background-size: cover;
      color: #fff;
      padding: 100px 0;
      text-align: center;
    }
    .jumbotron h1 {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .jumbotron p {
      font-size: 1.25rem;
    }
    .feature-box {
      background-color: #fff;
      border-radius: 10px;
      padding: 30px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .feature-box h3 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .feature-box p {
      font-size: 1.1rem;
    }
    .footer {
      background-color: #343a40;
      color: #fff;
      padding: 30px 0;
    }
    .modal-lg {
      max-width: 80%;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MIS Interns</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <!-- Dropdown menu for background color -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change Background Color
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('#f8f9fa')">Dirty White</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('#007bff')">Blue</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('#28a745')">Green</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('#dc3545')">Red</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container" style="color: black;">
      <h1>Welcome to MIS Internship</h1>
      <p class="lead">Where Creativity Meets Innovation: Explore Your World with Us</p>
    </div>
  </div>

  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="margin-bottom: 3%;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a0bc7346576771.6551d80a7c694.png" style="height: 400px; width: 1200px; " alt="First slide" data-toggle="modal" data-target="#imageModal">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/34f160168104749.6435037a7e935.jpg" style="height: 400px; width: 1200px; " alt="Second slide" data-toggle="modal" data-target="#imageModal">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5129fb149619055.62ea9e31447e1.jpg" style="height: 400px; width: 1200px; " alt="Third slide" data-toggle="modal" data-target="#imageModal">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <footer class="footer text-center">
    <div class="container">
      <p>&copy; 2024 Your Website. All rights reserved.</p>
    </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="previewImage" src="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function changeBackgroundColor(color) {
      document.body.style.backgroundColor = color;
    }
  
    // Handle click on image to show preview in modal
    $('#carouselExampleIndicators .carousel-item img').click(function(){
      var src = $(this).attr('src');
      $('#previewImage').attr('src', src);
      $('#imageModal').modal('show');
    });
  </script>
  </body>
  </html>
  