<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    /* styles for the login page */
    body {
      background-image: url('https://i.pinimg.com/originals/d3/52/75/d35275b425fd60ddf7aa53207e682325.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container {
      z-index: 1;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      display: none; /* Initially hide the card */
    }
    .card-header {
      background-color: #007bff;
      color: #fff;
      border-radius: 10px 10px 0 0;
    }
    .form-control {
      border-radius: 10px;
      border-color: #ced4da;
      padding-left: 40px; /* Adjusting padding to accommodate icon */
    }
    .form-control:focus {
      border-color: green;
      box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25); 
    }
    .input-icon {
      position: absolute;
      top: 50%;
      left: 15px; /* Adjusting icon position */
      transform: translateY(-50%);
      z-index: 1; /* Ensure icons are above input fields */
      color: #ced4da; /* Set icon color */
    }
    .btn-primary {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
    }
    .btn-primary:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group position-relative">
                <label for="username">Username</label>
                <i class="fas fa-user input-icon" style="margin-top: 3%;"></i> <!-- Username icon -->
                <input type="text" class="form-control" id="username" placeholder="Enter username">
              </div>
              <div class="form-group position-relative">
                <label for="password" >Password</label>
                <i class="fas fa-lock input-icon"style="margin-top: 3%;"></i> <!-- Password icon -->
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageModalLabel">Welcome Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="welcomeMessageText"></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function(){

      setTimeout(function(){
        $('.card').slideDown();
      }, 2000);

      // Set border color of input elements to green on focus
      $('.form-control').focus(function(){
        $(this).css('border-color', 'green');
      });

      $('input').addClass('form-control-sm');

      // Disable and show loader when login button is clicked
      $('button[type="submit"]').click(function(e){
        e.preventDefault();
        $(this).prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');

        if (location.protocol === 'file:') {
          // Running in VS Code, show welcome message in text tag
          $('#welcomeMessageText').text('Welcome to the Login Page');
          $('#messageModal').modal('show');
        } else {
          // Running in local server, show welcome message in modal
          $.ajax({
            url: 'http://localhost:8080/welcome_message.txt',
            success: function(response) {
              $('#welcomeMessageText').text(response);
              $('#messageModal').modal('show');
            },
            error: function() {
              alert('Error fetching welcome message!');
            },
            complete: function() {
              // Re-enable the login button
              $('button[type="submit"]').prop('disabled', false).html('Login');
            }
          });
        }
      });
    });
  </script>
</body>
</html>
